{% extends 'base.html' %}

{% block content %}
<h1 style="color:blue" align="center"> BelanjaKu</h1>
<h4 style="color:red" align="right">Nama: {{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>NPM: {{npm}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Kelas: {{class}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
<hr size = "5"color = "black">

<table style="width:100%">
  <tr>
    <th>Nama</th>
    <th>Jumlah</th> 
    <th>Price/Item</th>
    <th>Deskripsi</th>
  </tr>
  {% for item in items%}
  <tr>
    <td>{{item.name}}</td>
    <td>{{item.amount}}</td>
    <td>{{item.price}}</td>
    <td>{{item.description}}</td>
  </tr>
  {% endfor %}
</table>

<br />
<a href="{% url 'main:create_item' %}">
    <div class="center">
      <button class="button button1">Tambah Barang</button>
    </div>
</a>
{% endblock content %}