{% extends 'base.html' %}

{% block content %}
<h1 style="color:blue" align="center"> BelanjaKu</h1>
<h4 style="color:red" align="right">Nama Pengguna: {{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
<h3 style="color:black" align="left">Kamu menyimpan {{jumlah_item}} item pada aplikasi ini</h3>

<hr size = "5"color = "black">

<table style="width:100%">
  <tr>
    <th>Nama</th>
    <th>Jumlah</th> 
    <th>Price/Item</th>
    <th>Deskripsi</th>
  </tr>
  {% for item in items%}
  <tr>
    <td>{{item.name}}
      <a href="{% url 'main:hapus_item' id=item.id %}"
       <button>
        <button style="float:right;">Hapus Item</button>
      </button>
      </a>
    </td>
    <td>{{item.amount}}
      <a href="{% url 'main:kurangi_item' id=item.id %}"
        <button>
          <button style="float:right;">-</button>
        </button>
      </a>
      <a href="{% url 'main:tambah_item' id=item.id %}"
        <button>
          <button style="float:right;">+</button>
        </button>
      </a>
    <td>{{item.price}}</td>
    <td>{{item.description}}</td>
  </tr>
  {% endfor %}
</table>

<br />
<a href="{% url 'main:create_item' %}">
    <div class="center">
      <button class="button button1">Tambah Barang</button>
    </div>
</a>
<a href="{% url 'main:logout' %}">
  <button>
    <button class="button button2">Keluar dari Akun</button>
  </button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<h4 style="color:red" align="right">Nama: {{nama}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPM: {{npm}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kelas: {{class}}</h4>
{% endblock content %}